body{
	background: #a9d7d1;
	text-align: center;
	font-family: Raleway;
	margin-left: 20px;
}
li{
	list-style-type:none;
	padding-bottom: 10px;
	position: relative;
	left: -40px;
}
.form-outer{
	margin: 0 auto;
	background-color: white;
	max-width: 900px;
	padding-bottom: 20px;
	padding-top: 20px;
}
.row{
	padding-bottom: 20px;
}
.labels{
	display: inline-block;
	padding-right: 5px;
	vertical-align: top;
}
.input{
	display: inline-block;
	height: 20px;
	width: 280px;
    border-radius: 2px;
    text-align: left;
}
#radio{
	float: left;
	padding-bottom: 40px;
}
textarea{
	vertical-align: top;
}
#checkbox{
	float: left;
}
